@import 'tailwindcss';

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme {
  --color-primary: #eee2dc;
  --color-white: #fff;
  --color-red: #ac3b61;
  --color-gray: #8e8d8a;
  --color-gray-light: #bab2b5;
  --color-blue: #123c69;
  --color-font-light: #edc7b7;
}

* {
  transition: all 0.3s ease-in;
}

h1 {
  -webkit-text-stroke: 1px var(--color-blue);
  text-stroke: 1px var(--color-blue);
  color: var(--color-font-light);
}

.heading {
  @apply text-[3vw] sm:text-2xl font-bold mb-4;
}

.linear {
  @apply bg-linear-to-b from-primary via-font-light to-primary;
}

input:focus-visible {
  outline: none;
}
